<h2>Ingresa a tu cuenta</h2>
<h2 style="color: red">{{err}}</h2>
<form action="/login" method="POST">
<label for="email">Cuenta</label>
<input type="email" name="email" id="email">
<label for="passwor"> Contraseña</label>
<input type="password" name="password" id="password">
<input type="submit" value="Login">
</form>