<h2>Crear cuenta</h2>
<form action="/signup" method="POST">
<label for="email">Ingresa tu correo</label>
<input type="email" name="email" id="email">
<label for="email">Ingresa tu contraseña</label>
<input type="password" name="password" id="password">
<input type="submit" value="Sign up">
</form>